.container {
  max-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.loading-text {
  height: 1rem;
  border-radius: 20px;
  color: transparent;
  background-color: var(--pulse-loading-color);
  animation: pulse 1.4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.image-loading {
  width: 130px;
  height: 150px;
  border-radius: 20px;
  background-color: var(--pulse-loading-color);
  animation: pulse 1.4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
}
