.container {
  min-height: 150px;
  width: 80%;
  border-radius: 20px;
  background-color: var(--pulse-loading-color);
  animation: pulse 1.4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
