.container {
  padding: 1rem 1rem;
  padding-top: max(env(safe-area-inset-top, 15px), 1rem);
  display: grid;
  grid-template-areas: 'step-back banner settings';
  align-items: center;
  justify-items: center;
  background-color: var(--background-color);
}

.step-back {
  grid-area: step-back;
}

.step-back-icon {
  color: var(--inactive-icon-color);
}

.banner {
  grid-area: banner;
  object-fit: cover;
  width: 70%;
}

.settings {
  grid-area: settings;
}
